body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #FFFAFB;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.banner-img {
    position: absolute;
    right: 40px;
    top: 0px;
    width: 700px;
    height: 900px;
    margin-top: -180px;
    border-radius: 70% 10% 10% 70%;
}

.search-btn:hover {
    color: #c60000 !important;
    border: 1px solid #c60000 !important;
}

.bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}

.exercise-card {
    width: 400px;
    height: 445px;
    background: #fff;
    border-top: 4px solid #FF2625;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}

.exercise-card img {
    height: 326px;
}

.exercise-card:hover,
.bodyPart-card:hover {
    transform: scale(1.1, 1.1);
}

.right-arrow,
.left-arrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow:hover,
.left-arrow:hover {
    transform: scale(1.3, 1.3);
}

.details-image {
    width: 400px;
}

@media screen and (max-width:1200px) {
    .banner-img {
        display: none;
    }

    .exercise-card {
        width: 320px;
    }

    .exercise-video {
        width: 320px;
        height: 300px;
    }
}

@media screen and (max-width:400px) {
    .exercise-card {
        width: 280px;
    }
}

::-webkit-scrollbar {
    width: 0px;
}