body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #FFFAFB;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.banner-img {
    position: absolute;
    right: 40px;
    top: 0px;
    width: 700px;
    height: 900px;
    margin-top: -180px;
    border-radius: 70% 10% 10% 70%;
}

.search-btn:hover {
    color: #c60000 !important;
    border: 1px solid #c60000 !important;
}

.bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
    transform: scale(1.1, 1.1);
}

@media screen and (max-width:1200px) {
    .banner-img {
        display: none;
    }
}